
.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    background-image: url(./resources/pink_background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: "pixelify-sans";
    font-size: 5vh;
    color: rgb(241, 134, 146);
    text-shadow: 0.5vh 0.5vh white;
}

.big_invis{
    border: 0.2vh solid white;
    width: 180vh;
    height: 90vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20vh;
}

.rules_button{
    background-color: white;
    border-radius: 50vh;
    height: 6vh;
    width: 25vh;
    border: 0.2vh solid rgb(241, 134, 146);
    text-align: center;
    align-items: center;
    color: rgb(241, 134, 146);
    display: flex;
    flex-direction: row;
    gap: 2vh;
    transition: .2s;
    box-shadow: 0 0.6vh 0 rgb(255 158 192), 0 4vh 10vh rgba(255,150,190,.3);
    background-image: linear-gradient(white 50%, rgb(255 216 232) 120%);
}

.rules_button:hover{
  transform: translateY(-0.5vh) scale(1.03);
}

.rules_button:active{
    transform: translateY(0.01vh);
    box-shadow: 0 0.1vh 0 rgb(255 158 192);
}

.happy_sylveon{
    width: 5vh;
    height: 5vh;
    padding-left: 2.5vh;
}

.eevee_button{
    border-radius: 50vh;
    height: 6vh;
    width: 25vh;
    border: 0.2vh solid rgb(241, 134, 146);
    text-align: center;
    align-items: center;
    color: rgb(241, 134, 146);
    display: flex;
    flex-direction: row;
    gap: 2vh;
    transition: .2s;
    box-shadow: 0 0.6vh 0 rgb(255 158 192), 0 4vh 10vh rgba(255,150,190,.3);    
    background-image: linear-gradient(white 50%, rgb(255 216 232) 120%);
}

.eevee_button:hover{
  transform: translateY(-0.5vh) scale(1.03);
}

.eevee_button:active{
    transform: translateY(0.01vh);
    box-shadow: 0 0.1vh 0 rgb(255 158 192);
}

.sitting_sylveon{
    height: 30vh;
    width: 30vh;
}

.left_box{
    border: 0.2vh solid white;
    width: 70vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.right_box{
    background-image: radial-gradient( rgb(252, 186, 196), rgb(252, 186, 196), rgb(241, 134, 146));
    border: 0.2vh solid white;
    width: 70vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0.5vh 0.5vh 3vh white;
}

.blue_right_box{
    background-color: rgb(66, 194, 229);
    background-image: radial-gradient( rgb(104, 131, 208), rgb(66, 194, 229), rgb(104, 131, 208));
    border: 0.5vh solid white;
    width: 65vh;
    height: 75vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.white_right_box{
    background-image: linear-gradient(rgb(255 216 232), white 50%, rgb(255 216 232) 120%);
    border: 0.5vh solid white;
    width: 60vh;
    height: 70vh;
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
}

.lottery_header{
    margin-top: 2vh;
    background-color: white;
    border: 0.2vh solid rgb(241, 134, 146);
    width: 55vh;
    height: 20vh;
}

.tile_box{
    background-color: rgb(248, 198, 215);
    margin-top: 2vh;
    width: 55vh;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display:flex;
	flex-direction: column;
}

.row{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.box{
    align-content: center;
    margin: 1vh;
    height: 10vh;
    width: 10vh;
    background-color: white;
    transition: width height 2s;
}

.box:hover{
    background-color: rgb(198, 243, 255);
    width: 12vh;
    height: 12vh;
}